[Unit]
Description=containerd mongod.service
Documentation=containerd with nerdctl(https://github.com/containerd/nerdctl)
After=network.target

[Service]
Type=forking
ExecStartPre=/usr/bin/rm -f /%t/%n-pid /%t/%n-cid
ExecStartPre=/usr/bin/sh -c "/usr/bin/nerdctl rm -f mongod;true "
ExecStart=/usr/bin/nerdctl run --name mongod --user=mongodb:root --cpuset-cpus="" -p 27017:27017 --privileged --net=host -v /var/lib/mongodb:/var/lib/mongodb:rw -v /etc/mongod.conf:/etc/mongod.conf -v /var/log/mongodb:/var/log/mongodb:rw --conmon-pidfile /run/mongod.service-pid --cidfile /run/mongod.service-cid -d docker.io/library/mongo:3.4.24 -f /etc/mongod.conf
ExecStop=/usr/bin/sh -c "/usr/bin/nerdctl rm -f `cat /%t/%n-cid`"
Restart=on-failure
KillMode=process
PIDFile=/%t/%n-pid

[Install]
WantedBy=multi-user.target